.footer
  .container.space-between
    ul.links
      li
        a(href='')
          i.icon.icon-behance
      li
        a(href='')
          i.icon.icon-instagram
      li
        a(href='')
          i.icon.icon-facebook-square
    div.foot-note
      | &copy; 2017 Xin Zhang.
      | Handcrafted with
      i.icon.icon-heart-o.ml-5(style='font-size:8px;padding-top:5px;')
