div.col-container(style='padding-top:80px;padding-bottom:50px;')
  .col.col-left
    .thumbnail
      .img-outer
        .img-inner
          img(src='/dist/image/more-cover.jpg')
      .title Some name
      .body blah blah blah

    .thumbnail
      .img-outer
        .img-inner
          img(src='/dist/image/artfin-cover.jpg')
      .title Some name
      .body blah blah blah

    .thumbnail
      .img-outer
        .img-inner
          img(src='/dist/image/mcdonald-cover.jpg')
      .title Some name
      .body blah blah blah

    .thumbnail
      .img-outer
        .img-inner
          img(src='/dist/image/more-cover.jpg')
      .title Some name
      .body blah blah blah

  .col.col-right
    .thumbnail
      .img-outer
        .img-inner
          img(src='/dist/image/thumbnail-seagull.jpg')
      .title Some name
      .body blah blah blah

    .thumbnail
      .img-outer
        .img-inner
          img(src='/dist/image/artfin-cover.jpg')
      .title Some name
      .body blah blah blah

    .thumbnail
      .img-outer
        .img-inner
          img(src='/dist/image/mcdonald-cover.jpg')
      .title Some name
      .body blah blah blah

