//- page-a.pug
extends layout/layout.pug
block head
  title Yo

block content
  .scroll
    a(href='#ancre')
      h5 scroll
  div.project-test-img
  section.container.pt-60.pb-60
    .detail-img-wrapper
      img.detail-img.detail-img(src='/dist/image/more-cover.jpg')
    .detail-img-wrapper
      img.detail-img(src='/dist/image/seagull-cover.jpg')
    .detail-img-wrapper
      img.detail-img(src='/dist/image/more-cover.jpg')
    .detail-img-wrapper
      img.detail-img(src='/dist/image/seagull-cover.jpg')
    .detail-img-wrapper
      img.detail-img(src='/dist/image/more-cover.jpg')
    .detail-img-wrapper
      img.detail-img(src='/dist/image/seagull-cover.jpg')
    .detail-img-wrapper
      img.detail-img(src='/dist/image/more-cover.jpg')
    .detail-img-wrapper
      img.detail-img(src='/dist/image/seagull-cover.jpg')
