html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" href="/dist/image/favicon.png")
    block head
    title Xin Zhang
    link(rel="stylesheet" type='text/css' href='/dist/css/app.min.css')
  body
    include ../includes/header.pug
    block content
    //- include ../includes/footer.pug
    include ../includes/footer.pug

    script(src='/dist/js/app.min.js')
