@import url('https://fonts.googleapis.com/css?family=Lato:200,300|Roboto|Roboto:900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300');

$font-family: 'Roboto', 'Lato', sans-serif;
$font-light: 'Source Sans Pro', serif;
$font-bold: 'Lato', 'Lato', sans-serif;

$font-dark: #2c3e50;
$link-hover: #1b3dcc;
$live-cyan: #01d5e6;
$live-green: #00ffbc;
$live-yellow: #feba26;
$live-red: #eb176b;
$live-purple: #6602d4;

