@import "config";
@import "utils";
@import "font";
@import "bootstrap-customized";

html,body,p,div,a{
  font-family: $font-family;
  color:$font-dark;
}
body{
  background-image: url('/dist/image/bg.png');
  background-size:     70%;                      /* <------ */
  background-repeat:    repeat-y;
  background-position: center center;              /* optional, center the image */
}

p{
  margin-bottom: 5px !important;
}
.container{
  margin: 0 auto !important;
}
.bg-transparent{
  background:transparent;
}
.bold{
  font-weight: bold;
  color:$font-dark !important;
}
// .nav-link{
//   padding-left: 10px;
//   padding-right: 10px;
// }
.nav-wrapper{
  padding-top: 20px;
  li{
    list-style: none;
    display:inline-block;
    a{
      padding:8px 15px;
    }
  }
}

.fixed-top-nav{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index:1000;
  .container{
    margin:0 auto !important;
  }
}
/*======================================
=            Link Animation            =
======================================*/
// Colors
$colors: (
  'green': $live-green,
  'purple': $live-purple,
  'blue': $live-cyan,
);


.animated-link {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-shadow:
    0 0 map_get($colors, 'black'),
    .08em 0 0 #fff,
    0 0,
    -.08em 0 0 #fff;
  vertical-align: bottom;

  &:hover, &.active{
    text-decoration: none;
  }
  &:hover:after , &.active:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height:2px;
    width: 400%;
    z-index: -1;
    text-decoration: none;
    animation: underline-gradient 6s linear infinite;
    background-image: linear-gradient(
      90deg,
      rgba( map_get($colors, 'purple'), 0.8) 15%,
      rgba( map_get($colors, 'green'), 0.6) 35%,
      rgba( map_get($colors, 'blue'), 0.6) 60%,
      rgba( map_get($colors, 'purple'), 0.8) 85%
    );
  }
}

@keyframes underline-gradient {
  0%{
    transform: translate3d(0%, 0%, 0);
  }
  100%{
    transform: translate3d(-75%, 0%, 0);
  }
}


/*=====  End of Link Animation  ======*/

/*=========================================
=            Zoom In Animation            =
=========================================*/
img.zoom-in {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
img.zoom-in:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*=====  End of Zoom In Animation  ======*/





/*==========================================
=            Gradient Animation            =
==========================================*/

.gradient-bg{
  background: linear-gradient(123deg, #62a392, #b65437, #7e6bca);
  background-size: 600% 600%;

  -webkit-animation: gradient-change 3s ease infinite;
  -moz-animation: gradient-change 3s ease infinite;
  animation: gradient-change 3s ease infinite;

  @-webkit-keyframes gradient-change {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
  }
  @-moz-keyframes gradient-change {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
  }
  @keyframes gradient-change {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
  }
}
/*=====  End of Gradient Animation  ======*/




/*===============================
=            Section            =
===============================*/

.section {
  *{
    font-size:18px;
    font-family: 'Lato';
  }

  .title{
    font-size:36px;
    font-weight: bold;
    font-family: 'Roboto';
  }
  .large{
    font-size: 26px;
    font-weight: bold;
  }
  .small{
    font-size:14px;
  }
  a{
    font-weight: bold;
    text-transform: uppercase;

  }

}

#section-1 {
  background: #f5fef7;
  *{
    font-size:22px;
  }
  .caption{
    padding-left: 12.5%;
    text-align: left;
    margin-top:50px;
  }
  p{
    margin-bottom: 0 !important;
  }
}
#section-2{
  background-color: rgba(220, 200, 200, 0.2);
      .image-wrapper{
    border-image: linear-gradient(to bottom right, $live-purple 0%, $live-red 50%, $live-yellow 100%);
    border-image-slice: 1;
  }
}

#section-3{
  background-color: rgba(200, 220, 200, 0.2);
  .image-wrapper{
    border-image: linear-gradient(to bottom right, $live-green 0%, $live-cyan 80%);
    border-image-slice: 1;
  }
}

#section-4{
  background-color: rgba(200, 200, 220, 0.2);
  .image-wrapper{
    border-image: linear-gradient(to bottom right, $live-purple 0%, $live-cyan 80%);
    border-image-slice: 1;
  }
}
#section-5{
  background-color: rgba(200, 220, 200, 0.2);
  .image-wrapper{
    border-image: linear-gradient(to bottom right,  #cddee4 20%, $live-cyan 100%);
    border-image-slice: 1;
  }
}
.section-sided{
  .caption{
    // background:rgba(255,255,255,0.8);
    padding:0px 20px;
  }
  .image-wrapper{
    border-width: 8px;
    border-style: solid;
    background-image: url('/dist/image/bg.png');
  }
  .image-wrapper:hover, .image-wrapper *:hover{
    cursor: hand;
  }
}
.section-sided:nth-of-type(even){
.sided-wrapper{
  display:flex;
  flex:1;
  .image-wrapper{
    flex:1;
    width:60%;
    overflow:hidden;
  }
  .caption-wrapper{
    flex: 0 0 40%;
    position: relative;
    order:-1;
    .caption{
      position: absolute;
      bottom:5px;
      right:40px;
    }

  }
}
}

.section-sided:nth-of-type(odd){
  .sided-wrapper{
  display:flex;
  flex:1;
  .image-wrapper{
    flex:1;
    width:60%;
    overflow:hidden;
  }
  .caption-wrapper{
    flex: 0 0 40%;
    position:relative;
    .caption{
      position: absolute;
      bottom: 5px;
      left:40px;
    }
  }
}
}

@media screen and (max-width: 768px) {
  .section-sided:nth-of-type(even){
    .sided-wrapper{
    flex-direction: column;
    .image-wrapper{
      width:100%;
    }
    .caption-wrapper{
      flex: 0 0 100%;
      order:1;
      .caption{
        position:static;
      }
    }
  }
  }

  .section-sided:nth-of-type(odd){
    .sided-wrapper{
    flex-direction: column;
    .image-wrapper{
      width:100%;
    }
    .caption-wrapper{
      flex: 0 0 100%;
      .caption{
        position:static;
      }
    }
  }
  }
}

/*=====  End of Section  ======*/

/*=========================================
=            Center by Flexbox            =
=========================================*/

.aligner{
  display:flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 90%;
}
.aligner-item-top {
  align-self: flex-start;
}
.aligner-item-bottom {
  align-self: flex-end;
}

/*=====  End of Center by Flexbox  ======*/


/*===============================
=            Overlay            =
===============================*/

.overlay{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#f5f5f5;
  opacity: 1;
  z-index:1000;
}
.overlay.fadeout{
  animation: fadeout 2s;
  opacity:0;
}

@keyframes fadeout{
  from {opacity:1;}
  to {opacity:0;}
}
/*=====  End of Overlay  ======*/

/*=========================================
=            Detail Link Arrow            =
=========================================*/

@keyframes move-out{
  from {right:20px; opacity:0;}
  to {right:0px; opacity:1;}
}
.detail-link{
  margin-top: 30px;
  padding-right: 30px;
  position: relative;
  @extend .animated-link;

  &::before{
    position: absolute;
    content: '→';
    top:0px;
    opacity:0;
  }

  &:hover, &.active{
    color: lighten($font-dark, 20%);
    &::before{
      animation: move-out 0.6s ease-out forwards;
    }
    // color: $link-hover;
    // cursor: hand;
    // text-decoration: none;
  }
}



/*=====  End of Detail Link Arrow  ======*/


/*==============================
=            Footer            =
==============================*/
.foot-nav{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}

.footer{
  border-top: 1px solid #efefef;
  padding: 15px 0 20px 0;
  *{
    color:#95a5a6;
    font-size:14px;
  }
}
.icon-heart{
  color:#FB565E;
}
/*=====  End of Footer  ======*/



/*================================
=            Overview            =
================================*/
.project-overview, .intro{
  margin-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  .title{
    font-weight: bold;
  }
  .section-name{
    font-family: 'Roboto';
    margin-top: 30px;
    font-size:20px;
    padding-bottom: 25px;
    position: relative;

  }
  .section-body{
    padding: 20px 40px;
    // background:#f5f5f5;
    margin-top: 20px;
    line-height: 24px;
    font-size:16px;
  }
}
/*=====  End of Overview  ======*/
